{{!-- Se crea una vista de perfil --}}
<button type="submit" class="col-6 btn btn-primary rounded-0 ">
      <a href="/products" class="text-decoration-none text-reset">PRODUCTOS</a>
</button>
<div class="row justify-content-center pe-1 ps-1">
      <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12 border mt-5 mb-5 pt-5 pb-5" id="login">


            <div class="bloque mb-5" id="datosBasicos">
                  <div class="row">
                        <h2 class="col-12 text-center mb-4"> Mi cuenta </h2>
                  </div>
                  <div class="row">
                        <h5 class="col-12 text-center mt-4">DATOS BÁSICOS</h5>
                  </div>
                  <div class="row">
                        
                        <div class="col-12 d-flex justify-content-center">
                              <form class="col-xxl-10 col-xl-10 col-lg-10 col-md-12 col-sm-12 col-xs-12 mt-4"
                                    id="profileForm">
                                    <div class="mb-4 row">
                                          <div class="col-6">
                                                <input type="text" class="form-control form-control-lg rounded-0"
                                                      id="name" placeholder="{{userName}} (*)" maxlength="60"
                                                      name="first_name" required>
                                                <p class="hidden" id="nombreRequerido">Por favor, ingrese su nombre.</p>
                                          </div>
                                          <div class="col-6">
                                                <input type="text" class="form-control form-control-lg rounded-0"
                                                      id="lastName" placeholder="{{userLastName}} (*)" maxlength="60"
                                                      name="last_name" required>
                                          </div>
                                    </div>
                                    <div class="row">
                                          <div class="col-6">
                                                <input type="email" class="form-control form-control-lg rounded-0" id="email"
                                                       placeholder="{{userEmail}} (*)" maxlength="60"
                                                      name="email" required>
                                                      {{#if invalidEmail}}
                                                      <p class="text-danger">Ingrese un email válido para continuar</p>
                                                      {{/if}}

                                          </div>
                                          <div class="col-6">
                                                <input type="number" class="form-control form-control-lg rounded-0"
                                                      id="phone" placeholder="{{userPhone}}" maxlength="60"
                                                      name="phone">
                                          </div>
                                    </div>
                                    <div class="row">
                                          <div class="col-6">
                                                <input type="password" class="form-control form-control-lg rounded-0" 
                                                       placeholder="{{userName}} (*)" maxlength="60"
                                                      name="password" required>
                                                <p class="hidden" id="nombreRequerido">Por favor, ingrese su nombre.</p>
                                          </div>
                                          <div class="col-6">
                                                <input type="password" class="form-control form-control-lg rounded-0"
                                                       placeholder="{{userLastName}} (*)" maxlength="60"
                                                      name="confirm_password" required>
                                          </div>
                                    </div>

                                    <div class="row d-flex justify-content-center">
                                          <div class="col-5 ">
                                                <button type="submit" class="btn btn-dark rounded-0 "
                                                      id="editarDatosBasicos"><a
                                                            class="text-decoration-none text-reset">EDITAR </a></button>
                                                <p class="aclaraciones mt-3">Los campos con (*) son obligatorios.</p>
                                                <label for="editarDatosBasicos" class="hidden"
                                                      id="confirmacionDatosBasicos">Los datos se han guardado
                                                      correctamente.</label>
                                          </div>
                                    </div>

                                    

                                    
                              </form>
                              
                        </div>

                        <div class="row d-flex justify-content-center m-0">
                              <form class="col-8 m-0" id="deleteForm">
                                    <div class="row">
                                          <div class="col-12">
                                                <input type="email" class="form-control form-control-lg rounded-0"
                                                       placeholder="{{userName}} (*)" maxlength="60";
                                                      name="email" required>
                                          </div>
                                          
                                          
                                    </div>
                                    <div class="row">
                                          <div class="col-6">
                                                <input type="password" class="form-control form-control-lg rounded-0"
                                                       placeholder="{{userLastName}} (*)" maxlength="60"
                                                      name="password" required>
                                          </div>
                                          <div class="col-6">
                                                <input type="password" class="form-control form-control-lg rounded-0"
                                                       placeholder="{{userLastName}} (*)" maxlength="60"
                                                      name="confirm_password" required>
                                          </div>
                                    </div>
                                    <button type="submit" class=" col-8 btn btn-dark rounded-0 p-3"><a
                                                class="text-decoration-none text-reset">ELIMINAR CUENTA</a></button>
                              </form>
                        </div>
                  </div>
            </div>
     </div>
</div>
      
<script src="/js/sessions/profile.js"></script>
